@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



body{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
    
   
    
 
}
.head{
  
  overflow-x: hidden;

 
  

}
.cardimage{
  border-radius:10;

  
}
.tooltip{
  background-color: rgb(95, 255, 87);
}






@media (min-width:1500px) {
  #profile{
    display:flex;
    margin-left: 47vw;
    align-items: center;
  
  }
  #search{
    position:absolute;
    left:35vw;
    align-self: center;
    top: 2vh;
  }
  #slidebar{
    display: none;
  }
  #bar{
    display: none;
}
#slider{
  flex-wrap: wrap;

 
  
}
  
   
    
}
@media (max-width:1500px) {
  #search{
    position:absolute;
    left:35vw;
    align-self: center;
    top: 2vh;

    

  }
  #profile{
    display:none;
  }
  #bar{
    display: flex;
    position: absolute;
    left: 105vw;
    top:3vh;
    height: 100;
    color: rgb(44, 44, 44);
    

}
#bars{
  display: none;
}
   
    
    
}
@media (max-width:600px) {
  #search{
    position:absolute;
    left:40vw;
    align-self: center;
    top: 2vh;
    width: 55vw;

    

  }
  #profile{
    display:none;
  }
  #bar{
    display: flex;
    position: absolute;
    right: 105vw;
    top:3vh;
    color: rgb(44, 44, 44);

}
#bars{
  display: none;
}
  
    
    
    
}
